## DBAPI
* Tüm RDBMS kütüphanelerinin temelini oluşturur.
* Amaç farklı veritabanları ile benzer şekilde çalışabilmeyi sağlamak.
* https://www.python.org/dev/peps/pep-0249/
* Bağlantı kurulacak servera özel kütüphane tercih edilmeldir. Bir server için birden fazla kütüphane olabilir.
    * `pyodbc`, `pymssql`, `cx_oracle`, `sqlite2` vs.

**Not:** İlişkisel veritabanlarında SQL dili kullanımı farklı olabilir. ANSI/ISO standartlarına göre büyük oranda benzerdir. Firmalar kendi kitlelerine göre eklemeler yapar. SQL, T-SQL, PL/SQL, SQL-PL.

### Klasor ve dosya ile çalışma

In [2]:
import os

os.getcwd()
#!cd #shell komutları kullanabiliriz.

C:\Users\Abdullah\Documents\_GtrPythonRepo_\GtrPython_20220227\Gun1

In [6]:
'''
    . çalıştığımız yol
    .. bir önceki yol
    
    linux -> /
    windows -> / veya \\ veya raw string ile r"c:\nalbur" , repr("C:\nalbur")
    
    relative path ./klasor/dosya.txt
    absolute path c:\\klasor\\dosya.txt gibi.
'''
os.makedirs("./databases",exist_ok=True)

In [9]:
os.path.exists("./databases")
"databases" in os.listdir()

True

In [11]:
os.path.isdir("./databases")
os.path.isfile("./databases")

False

In [15]:
#list(os.scandir("."))

for e in os.scandir("."): #DirEntry
    if e.is_file():
        print(e.name)

1_1_SoruCevap.ipynb
1_2_VeritabanlarinaBaglanma.ipynb

In [18]:
#alt yollara gitmek için walk
list(os.walk(".")) #[(root, folders, files), (root, folders, files) .... ]


for kok, klasorler, dosyalar in os.walk("."):
    for dsy in dosyalar:
        print(dsy)

1_1_SoruCevap.ipynb
1_2_VeritabanlarinaBaglanma.ipynb
1_1_SoruCevap-checkpoint.ipynb
1_2_VeritabanlarinaBaglanma-checkpoint.ipynb

### sqlite3 ile çalışmak
* sqlite3 ayrı bir service kıurmadan çalışılan light bir veritabanı programıdır. (RDBMS)
* sqlite3 engine indirip kurulabilir. https://www.sqlite.org/download.html
* SQL komutları ile çalışır. Ücretli bir RDBMS lisansına sahip olmadan çalışma imkanı tanır. (Oracle, MSSQL, MYSQL vs.)
* sqlitestudio ile bağlanıp nesneleri yöntebiliriz. Sorgular oluşturabiliriz. https://sqlitestudio.pl/

**Not:** Serverlara bağlanmak için bir bağlantı cümlesine ihtiyaç duyarız. [Tüm bağlantı cümleleri](https://www.connectionstrings.com/)

In [19]:
import sqlite3

In [22]:
#Data Source=c:\mydb.db;Version=3;
#Data Source=:memory:;Version=3;New=True;
#Data Source=c:\mydb.db;Version=3;Password=myPassword;

con = sqlite3.connect("./databases/mesajDB.db")
#dir(con)

In [25]:
#tablo oluştralım
con.execute("""
CREATE TABLE mesaj
(
    Id int,
    Metin nvarchar(100)
)
""")

In [24]:
#tablo silmek için
#con.execute("DROP TABLE mesaj")

In [26]:
#Kayıt girelim.
con.execute("INSERT INTO mesaj VALUES(1,'1. Kayıt')")
con.execute("INSERT INTO mesaj VALUES(2,'2. Kayıt')")
con.execute("INSERT INTO mesaj VALUES(3,'3. Kayıt')")
con.execute("INSERT INTO mesaj VALUES(4,'4. Kayıt')")
con.execute("INSERT INTO mesaj VALUES(5,'5. Kayıt')")

con.commit() #auto commit yoksa işlemler geri alınır.

In [33]:
#Kayıları okuyalı.m.
#bağlantı üzerinden komut çalıştırılabilir geriye dönen cursor yakalanabilir. 
#baglantı üzerinden cursor oluşturulabilir. Cursoru ile sorgu çalıştırılabilir.

#1. yöntem
'''
imlec=con.cursor()
imlec.execute("SELECT * FROM mesaj LIMIT 3")
'''

#2.yöntem
imlec = con.execute("SELECT * FROM mesaj LIMIT 3") #ustten 3 satır

In [34]:
#kolon bilgisi
imlec.description

kolonlar = [c[0] for c in imlec.description]
kolonlar

['Id', 'Metin']

In [35]:
#satırları alalım
satirlar = imlec.fetchall() #imlec sonuna kadar okur. sona geldiğinde boş döner.
satirlar

[(1, '1. Kayıt'), (2, '2. Kayıt'), (3, '3. Kayıt')]

In [42]:
#ekrana yazdıralım.
print(f"|{kolonlar[0]:^5}|{kolonlar[1]:^20}|")
print("-"*28) #contaninerlar bir sayı ile çarpılırsa elemanlar o kadar tekrarlanır

for s in satirlar:
    print(f"|{s[0]:^5}|{s[1]:^20}|")

| Id  |       Metin        |
----------------------------
|  1  |      1. Kayıt      |
|  2  |      2. Kayıt      |
|  3  |      3. Kayıt      |

In [51]:
#zip ile paralele loop yapıyoruz. 
#print(kolonlar)
#print(satirlar)

for satir in satirlar:
    for c_r in zip(kolonlar,satir): #unpacking ile kolon ve satırı alabiliriz. (Id, 1), (Metin, 1.Kayıt)
        #print("{}:{}".format(c_r[0],c_r[1]), end=" ")
        print("{}:{}".format(*c_r), end=" ") #* ile unpack ediyoruz.
    print("")

Id:1 Metin:1. Kayıt
Id:2 Metin:2. Kayıt
Id:3 Metin:3. Kayıt

In [64]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

#a.append(b) #olduğu gibi ekler
#a.extend(b)  #elemanları açarak verdi.
#a.extend(b).extend(c) #HATA
#a.extend(c)
#a
#----------
#unpackign yöntemi
[a,b,c]    #append
[*a,*b,*c] #extend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
con.close() #kaynakları sertbest

#### Commit ve Rollback

In [67]:
import sqlite3

con = sqlite3.connect("databases/mesajDB.db")

In [79]:
con.execute("DELETE FROM mesaj WHERE Id IN(1,3)") #1 ve 3 IDli satırları silelim

In [80]:
con.execute("SELECT * FROM mesaj").fetchall()

[(2, '2. Kayıt'), (4, '4. Kayıt'), (5, '5. Kayıt')]

In [81]:
con.rollback() #commit edilmediği sürece işlemler geri alınır.
#con.commit() #işlemler kalıcı hale gelir.

In [82]:
con.execute("SELECT * FROM mesaj").fetchall()

[(1, '1. Kayıt'),
 (2, '2. Kayıt'),
 (3, '3. Kayıt'),
 (4, '4. Kayıt'),
 (5, '5. Kayıt')]

#### Pandas ile Okuma

In [83]:
import sqlite3

con = sqlite3.connect("databases/mesajDB.db")

In [93]:
import pandas as pd

df = pd.read_sql("SELECT * FROM mesaj",con)

type(df) #pandas.core.frame.DataFrame

df
df.head(2)
df.tail(2)

df.loc[:2,["Metin"]]

      Metin
0  1. Kayıt
1  2. Kayıt
2  3. Kayıt

### MSSQL (veya Orale) ile Çalışmak

* MSSQL'e bağlanmak için farklı kütüphaneler kullanabiliriz. `pyodbc`, `pymssql`
* Microsoft `pyodbc` kütüphanesini test takip ediyor
* `pip install pyodbc` ile indirelim. `import pyodbc` çalışma alanına alınır.
* Sonra seçtiğimiz drivera özel bağlantı cümlesini belirterek bağlanırız.


* **Oracle** için:
    * `pip install cx-Oracle`
    * `ìmport cx_Oracle`
    * `cx_Oracle.connect("username/password@localhost")`
    * Bağlanılacak makinede `Oracle Client` kurulu olmalıdır.

In [94]:
import pyodbc

In [95]:
pyodbc.drivers() #yüklü olan driverları listteler.

['SQL Server',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [100]:
#bağlantı cümlesi oluşturalım.
#Driver={ODBC Driver 17 for SQL Server};Server=myServerAddress;Database=myDataBase;UID=myUsername;PWD=myPassword;
#Driver={ODBC Driver 17 for SQL Server};Server=myServerAddress;Database=myDataBase;Trusted_Connection=yes;

server   = "localhost"
database = "master"
username = "sa"
password = "123"
#driver   = "{ODBC Driver 17 for SQL Server}"
#"Driver={};Server={};Database={};UID={};PWD={};".format(driver, server,database, username, password)

driver   = "ODBC Driver 17 for SQL Server"
#{{}} ile {} üretiyoruz.
"Driver={{{}}};Server={};Database={};UID={};PWD={};".format(driver, server,database, username, password)

'Driver={ODBC Driver 17 for SQL Server};Server=localhost;Database=master;UID=sa;PWD=123;'

In [105]:
#con = pyodbc.connect("Driver={};Server={};Database={};UID={};PWD={};".format(driver, server,database, username, password))

dict_cntstr = {
            "driver":"{ODBC Driver 17 for SQL Server}",
            "server":"localhost",
            "database":"master",
            "username":"sa",
            "password":"123"
         }

cntstr = "Driver={driver};Server={server};Database={database};UID={username};PWD={password};".format_map(dict_cntstr)
cntstr

con = pyodbc.connect(cntstr)

In [107]:
imlec = con.execute("SELECT @@VERSION")

In [108]:
tekSatirSutun = imlec.fetchone() #tek hücre olduğu için
tekSatirSutun #sonuç tuple (version, )

('Microsoft SQL Server 2019 (RTM-CU9) (KB5000642) - 15.0.4102.2 (X64) \n\tJan 25 2021 20:16:12 \n\tCopyright (C) 2019 Microsoft Corporation\n\tEnterprise Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 19044: )\n', )

In [110]:
print(tekSatirSutun[0])

Microsoft SQL Server 2019 (RTM-CU9) (KB5000642) - 15.0.4102.2 (X64)
	Jan 25 2021 20:16:12
	Copyright (C) 2019 Microsoft Corporation
	Enterprise Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 19044: )

In [111]:
con.close()